grant  {
    permission java.security.AllPermission;
    permission java.io.FilePermission "/home/arjun/", "read";
    permission java.io.FilePermission "/home/arjun/", "write";
};